{
	"all": true,
	"excludeNodeModules": true,
	"reporter": [
		"html",
		"text",
		"lcov"
	],
	"exclude": [
		"**/coverage",
		"**/node_modules",
		"eslint.config.mjs",
		"packages/tests",
		"**/*.d.*ts",
		"release.mjs"
	]
}
